<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div>
<h1>Morpheus Microsoft DNS Integration Service Profile</h1>
<h2>{{integrationDetails}}</h2>
</div>
<div>
<pre id="rpcInfo">
{{rpcInfo}}
</pre>
</div>
</body>
</html>
